*{
    font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}

.card {
  width: 800px;
  padding: 40px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form div {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 4px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  margin-top: 10px;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

form button:hover {
  background-color: darkgreen;
  transition: 0.2s;
}

hr {
  margin: 25px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

thead {
  background-color: green;
  color: white;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td button {
  background-color: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

td button:hover {
  background-color: darkred;
}

h5 {
  text-align: center;
}