*{
    font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}

.card {
  width: 600px;
  padding: 40px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 8px;
  border: 1px solid gray;
  border-radius: 4px;
}

form button {
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

form button:hover {
  background-color: darkgreen;
  transition: 0.2s;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 8px;
  font-size: 16px;
}

li button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

li button:hover {
  background-color: darkred;
    transition: 0.2s;
}
h5{
  text-align: center;
}