<div class="homepage-container">
  <h1>Welcome to Football Team Management</h1>
  <p>Select where you want to go:</p>

  <div class="links">
    <a routerLink="/players" class="card-link">
      <div class="card">
        <h2>Players</h2>
        <p>View and manage all players</p>
      </div>
    </a>

    <a routerLink="/matches" class="card-link">
      <div class="card">
        <h2>Matches</h2>
        <p>View and manage all matches</p>
      </div>
    </a>
  </div>
  <br>
  <br>
  <br>
  <hr>
  <br>
  <h5>Aimilios Tsiaprazis - Software Developer @2026</h5>
</div>